---
title: Demandez un devis gratuit de la solution UNIT
description:
---

<div class="padded text-center container" id="devis">
	<h1>Demandez votre devis gratuit</h1>
	<div class="padded-3"></div>
	<form action="https://formspree.io/contact@unit-sport.fr">
		<div class="form-group row">
			<label for="inputName" class="col-sm-2 col-form-label text-right">Vos coordonnées</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="Name" id="inputName" placeholder="Prénom et Nom" required>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputEmail" class="col-sm-2 col-form-label text-right"></label>
			<div class="col-sm-10">
		  		<input type="email" class="form-control" name="Mail pro" id="inputEmail" placeholder="Adresse mail professionnelle" onblur="verifMail(this)" required>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputPhone" class="col-sm-2 col-form-label text-right"></label>
			<div class="col-sm-10">
	  			<input type="password" class="form-control" name="Téléphone" id="inputPhone" placeholder="Numéro de téléphone" required>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputEntreprise" class="col-sm-2 col-form-label text-right">Votre entreprise</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="Nom de l'entreprise" id="inputEntreprise" placeholder="Nom de l'entreprise" required>
			</div>
			<label for="inputWhere"></label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="Lieu du site" id="inputWhere" placeholder="Lieu du site" required>
			</div>
			<div class="col-sm-10 col-sm-offset-2 text-left" style="padding-top:15px;">
				<select class="custom-select d-block my-3" name="Nombre de collaborateurs" required>
		    		<option value="">Nombre de collaborateurs</option>
		    		<option value="-99">Moins de 99</option>
		    		<option value="100-299">De 100 à 299</option>
		    		<option value="300-499">De 300 à 499</option>
		    		<option value="500-999">De 500 à 999</option>
		    		<option value="+1000">Plus de 1000</option>
	 			</select>
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="inputDemande" class="col-sm-2 col-form-label text-right">Votre demande</label>
	  		<div class="col-sm-10">
	  			<textarea class="form-control" rows="4" id="inputDemande" name="Descriptif de la demande" placeholder="Décrivez votre demande en quelques lignes. Précisez vos besoins et contraintes. Soyez précis !" required></textarea>
	  		</div>
	  	</div>
	  	<div class="padded-3"></div>
		<button type="submit" class="btn btn-primary btn-lg">Demandez votre devis gratuit</button>
	</form>	  
</div>




	

