.btn {
	border-radius:2px;
	border: none;
}
.btn-primary {
	background-color: $blue-one;
	color: white;
	&:hover {
		background-color:$blue;
		color:$yellow;
	};
}
.btn-info {
	background-color: $yellow;
	color: $blue;
	border:1px solid $blue;
	&:hover {
		background-color:$yellow;
		color:$blue;
	};
}